* {
  font-family: "Heebo", sans-serif;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  text-align: center;
  background-color: powderblue;
  color: lightgoldenrodyellow;
}

.wrapper {
  max-width: 64rem;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.title {
  font-size: 5rem;
}

.title,
.resultWrapper {
  width: 100%;
}

.field__container {
  border: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.field__container:nth-of-type(1),
.field__container:nth-of-type(2) {
  width: 50%;
}
@media screen and (max-width: 400px) {
  .field__container:nth-of-type(1),
  .field__container:nth-of-type(2) {
    width: 100%;
  }

  .field__container:nth-of-type(2) {
    padding-top: 2rem;
  }
}

.field__group {
  padding-right: 1rem;
  width: 100%;
}

@media screen and (max-width: 400px) {
  .field__group {
    padding-right: 0;
  }
}

.headsTails label {
  border: 5px solid white;
  padding: 0.25rem;
  background: transparent;
  border-radius: 6px 6px 0px 0px;
}

.headsTails label:hover {
  background-color: lightskyblue;
  cursor: pointer;
}

.headsTails label:nth-of-type(1) {
  border-radius: 0;
  border-width: 0px 5px 0px 5px;
}

.headsTails label:nth-of-type(2) {
  border-radius: 0px 0px 6px 6px;
}

.checkbox:checked + label {
  background-color: lightskyblue;
}

.resultWrapper,
.topicWrapper {
  padding-top: 2rem;
}

label {
  display: block;
  padding-bottom: 0.5rem;
  font-size: 3rem;
}

h3 {
  font-size: 3rem;
}

button,
button:active {
  padding: 0.5rem;
  border-width: 0px 5px 5px 5px;
  border-color: white;
  border-style: solid;
  padding: 0.25rem;
  background: transparent;
  border-radius: 0px 0px 6px 6px;
  width: 100%;
  font-size: 3rem;
  color: lightgoldenrodyellow;
  outline: none;
}

button:hover {
  background-color: lightskyblue;
  cursor: pointer;
}

input[type="radio"] {
  display: none;
}

input[type="text"] {
  color: white;
  text-align: center;
  border: 5px solid white;
  padding: 0.25rem;
  background: transparent;
  border-radius: 6px 6px 0px 0px;
  font-size: 3rem;
  width: 100%;
  outline: none;
}

.inputWrapper {
  position: relative;
  overflow: hidden;
}

.inputWrapper::after {
  content: "";
  width: 40px;
  height: 20px;
  background: salmon;
  display: block;
  position: absolute;
  top: -5px;
  right: -15px;
  transform: rotate(45deg);
}

::placeholder {
  color: lightgoldenrodyellow;
  opacity: 0.4;
}
::-webkit-input-placeholder {
  color: lightgoldenrodyellow;
}
:-ms-input-placeholder {
  color: lightgoldenrodyellow;
}
